<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Transferencia entre Contas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="../../../public/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    function confirmarSaida() {
      if (confirm('Tem certeza de que deseja sair?')) {
        window.location.href = '/logout';
      }
    }
  </script>
</head>

<body>

  <div class="container-expand-fluid">
    <nav class="navbar navbar-expand-lg navigationBar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../images/Logo.png" class="logoImage" />
        </a>
        <div>
          <a href="/home" class="btn text-primary">Voltar</a>
        </div>
        <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
          <button type="button" class="btn btn-danger" onclick="confirmarSaida()">Sair</button>
        </div>
      </div>
    </nav>
  </div>

  <!-- {{#pessoa}}
  <div class="alert alert-success alert-dismissible sucessAlert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{pessoa.result}}</strong>
  </div>
  {{/pessoa}}

  {{#erro}}
  <div class="alert alert-danger alert-dismissible errorAlert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{erro}}</strong>
  </div>
  {{/erro}} -->

  <div class="container-fluid d-flex align-items-center justify-content-center transferirContainer">
    <div class="row">

      <h1 class="depositarTitle">Transferencia entre<br /> Conta Corrente</h1>

      <form method="post" action="/submit">
        <fieldset>

          <div class="col-auto mb-3">
            <label for="contaCorrente" class="form-label">Número da Conta Corrente de Destino:</label>
            <input type="text" id="contaCorrente" name="contaCorrente" placeholder="1234" class="form-control" />
          </div>

          <div class="col-auto mb-3 pt-3">
            <label for="valor" class="form-label">Valor:</label>
            <div class="input-group">
              <span class="input-group-text">R$</span>
              <input type="text" id="valor" name="valor" placeholder="R$ 100,00" class="form-control" />
            </div>
          </div>

          <div class="container-expand-fluid d-flex justify-content-between pt-2">
            <input type="reset" class="btn btn-secondary" value="Limpar" />
            <input type="submit" class="btn btn-primary" value="Transferir" />
          </div>

        </fieldset>
      </form>

    </div>
  </div>

  <footer class="navbar navbar-expand-fluid bg-primary navigationBar">
    <div class="container ">
      <span class="phoneText">
        Central de Atendimento<br />
        4002-8922 / 3321-8181
      </span>
    </div>
  </footer>

</body>

</html>