.navigationBar {
  background: #E7F1FF;
}

.logoImage {
  width: 40px;
  height: auto;
  max-height: 40px;
}

.phoneText {
  display: flex;
  color: #ffffff;
}

.rowMargin {
  padding: 70px 0;
  row-gap: 105px;
}

.operationsContainer {
  width: 512px;
  height: 160px;
  background: #E7F1FF;
  border: 1px solid #0D6EFD;
  border-radius: 4.8px;
}

.containerContent {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 28px;
}

.depositarContainer {
  margin: 97.5px 0;
}

.depositarTitle {
  text-align: center;
  margin: 88px 0;
}

.depositarEspacamento {
  display: flex;
  row-gap: 50px;
}

.sucessAlert {
  position: absolute !important;
  width: 100%;
  top: 60px;
}

.errorAlert {
  position: absolute !important;
  width: 100%;
  top: 120px;
}